Repository mayn/packerlicious, pull requests merged in 2018-10, with the labels that each got.

#130 AmazonChroot: validate required options when from_scratch is true
  src/packerlicious/builder.py
  tests/packerlicious/test_builder_amazon.py
Labels: Hacktoberfest, builder, enhancement

#131 Add root_volume_type prop for AmazonChroot builder
  src/packerlicious/builder.py
Labels: Hacktoberfest, builder, enhancement

#132 Issue 128: adds decode_authorization_messages support for Amazon EC2 resources
  src/packerlicious/builder.py
Labels: builder, enhancement

#134 #122 correct shutdown_behavior type for AmazonEbsSurrogate and AmazonEbsVolume
  README.rst
  src/packerlicious/builder.py
Labels: bug, builder

#137 Making run_command take a list of strings instead of a single string
  src/packerlicious/builder.py
Labels: bug, builder

#140 Fixes #136
  src/packerlicious/builder.py
Labels: Hacktoberfest, builder

#141 Adding public port to Cloud Stack builder
  src/packerlicious/builder.py
Labels: builder

#145 builder/GoogleCompute add min_cpu_platform support
  src/packerlicious/builder.py
Labels: Hacktoberfest, builder

#150 buider/HypervVmcx : add temp_path, clone_from_vmcx_path
  src/packerlicious/builder.py
  tests/packerlicious/test_builder_hyperv.py
Labels: Hacktoberfest, builder

#157 postprocessor/VSphere add esxi_host
  src/packerlicious/post_processor.py
Labels: Hacktoberfest, post-processor

#158 Add support for `ssh_clear_authorized_keys`
  src/packerlicious/builder.py
Labels: Hacktoberfest, builder
