Repository mayn/packerlicious, pull requests merged in 2018-03, with the labels that each got.

#90 Added provisioner_props to PackerProvisioner class
  src/packerlicious/provisioner.py
Labels: enhancement, provisioner

#94 add builder/hyperv-vmcx
  README.rst
  src/packerlicious/builder.py
  tests/packerlicious/test_builder_hyperv.py
Labels: builder

#98 Drop support for EOL Python 2.6 and 3.3
  .travis.yml
  appveyor.yml
  requirements-travis-26.txt
  setup.py
  tests/conftest.py
  tox.ini
Labels: noteworthy/not-backwards-compatible

#99 Added support for Parallels PVM and ISO builders
  .gitignore
  README.rst
  src/packerlicious/builder.py
  tests/packerlicious/test_builder_oracleoci.py
  tests/packerlicious/test_builder_parallels.py
Labels: builder

#100 builder/hyperv - rename HyperV builders
  src/packerlicious/builder.py
  tests/packerlicious/test_builder_hyperv.py
Labels: builder, noteworthy/not-backwards-compatible

#101 add jagged array validator to correct list of list error
  src/packerlicious/builder.py
  src/packerlicious/validator.py
  tests/packerlicious/test_template.py
  tests/packerlicious/test_validator.py
Labels: bug, builder
