Repository mayn/packerlicious, pull requests merged in 2019-01, with the labels that each got.

#160 issue_148: adds attribute launch_config
  src/packerlicious/builder.py
Labels: builder

#163 Add memory, usb, and cpus options to virtualbox iso builder
  src/packerlicious/builder.py
Labels: builder, enhancement

#164 Adding ARM community builder support
  src/packerlicious/community/builder.py
  tests/packerlicious/community/test_builder_arm.py
Labels: builder, enhancement, noteworthy/not-backwards-compatible
